$colorPrincipal: #cd7cf2;
$colorText: #808080;
$colorInactiveBorder: #f9cce6;
$roboto: "Roboto", sans-serif;
$colorHighlighted: black;

body {
  margin: 30px 30px;
  padding: 0;
  font-family: $roboto;
}

p,
h1 {
  margin: 0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &--items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

    p {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      border-bottom: 2px solid $colorInactiveBorder;
    }

    p:hover {
      border-bottom: 4px solid $colorPrincipal;
    }
  }

  &--userName {
    margin: auto 0px auto auto;
    color: $colorText;
    font-size: 20px;
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $colorText;
  align-items: center;
  grid-template-areas: "textZone imageZone";

  @media only screen and (max-width: 992px) {
    .hero--title {
      font-size: 25px;
    }
  }

  @media only screen and (max-width: 768px) {
  }

  @media only screen and (max-width: 600px) {
    .hero--title {
      font-size: 20px;
      text-align: center;
    }
    grid-template-areas:
      "textZone textZone"
      "imageZone imageZone";
  }

  .highlighted {
    color: $colorHighlighted;
  }

  &--title {
    font-size: 35px;
    grid-area: textZone;
  }

  &--button {
    margin-top: 15px;
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px 50px;
    border-radius: 10px;
    font-weight: 600;
    background: $colorPrincipal;
  }

  &--textHighligh {
    color: $colorPrincipal;
    font-weight: 600;
  }

  &--image {
    text-align: center;
    grid-area: imageZone;
    &__size {
      width: 100%;
    }
  }
}

.footer {
  color: $colorText;
  p {
    text-align: center;
  }
}
