$colorPrincipal: #cd7cf2;
$colorText: #808080;
$colorInactiveBorder: #f9cce6;
$roboto: "Roboto", sans-serif;
$colorHighlighted: black;

body {
  margin: 30px 30px;
  padding: 0;
  font-family: $roboto;
}

p,
h1 {
  margin: 0;
}
// que es lo que les hubiera gustado que les dijeran cuando iniciaron su profesional
.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  label {
    display: none;
    font-size: 20px;
    color: $colorText;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    label {
      display: block;
    }
    .menu--items {
      display: none;
      position: absolute;
      margin: 26px 0 26px -30px;
      background-color: white;
      width: 100%;
      box-shadow: 0px 12px 19px -10px #cd7cf2;

      p {
        font-size: 20px;
        margin: 10px 0;
      }
      p:hover {
        border-bottom: 2px solid $colorInactiveBorder;
      }
    }

    #toggle:checked + .menu--items {
      display: block;
    }
  }

  #toggle {
    display: none;
  }

  &--items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

    a {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      border-bottom: 2px solid $colorInactiveBorder;
      text-decoration: none;
      color: black;
    }

    a:hover {
      border-bottom: 4px solid $colorPrincipal;
      color: $colorPrincipal;
    }
  }

  &--userName {
    margin: auto 0px auto auto;
    color: $colorText;
    font-size: 20px;
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $colorText;
  align-items: center;
  grid-template-areas: "textZone imageZone";

  @media only screen and (max-width: 992px) {
    .hero--title {
      font-size: 25px;
    }
  }

  @media only screen and (max-width: 600px) {
    .hero--title {
      font-size: 20px;
      text-align: center;
    }
    grid-template-areas:
      "textZone textZone"
      "imageZone imageZone";
  }

  .highlighted {
    color: $colorHighlighted;
  }

  &--title {
    font-size: 35px;
    grid-area: textZone;
  }

  &--button {
    margin-top: 15px;
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px 50px;
    border-radius: 10px;
    font-weight: 600;
    background: $colorPrincipal;
  }

  &--textHighligh {
    color: $colorPrincipal;
    font-weight: 600;
  }

  &--image {
    text-align: center;
    grid-area: imageZone;
    &__size {
      width: 100%;
    }
  }
}

.footer {
  color: $colorText;
  p {
    text-align: center;
  }
}
